@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html body {
	margin: 0px;
	height: 100%;
}

body {
	background: cyan !important;
}

h2 {
	font-size: 1rem !important;
	font-weight: 700 !important;
	margin-bottom: 0 !important;
}

h1 {
	font-size: 1rem !important;
	margin-bottom: 0 !important;
}

.navbar {
	padding: 0 !important;
}
